.seat-row {
  display: flex;
  flex-direction: 'row';
}

.seat-item {
  padding: 4px;
}

.seat-item-selected .seat-item-content {
  border-color: blue;
}

.seat-item-content {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-size: 12px;
  border-radius: 4px;
}

.seat-status-disabled {
  border-color: transparent;
}

.seat-status-booked {
  background-color: #00000010;
}
